
# no execute files
stlviewer

# no object-files
*.o

# no folder
.vscode/

# no archiv file
# Test Files
Muehle - Galerie-1.STL
Muehle - Grundmauer-1.STL
STL_data/Testmodelle/*

go_start.txt
git.txt
